* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: white;
}

section {
  scroll-margin-top: 120px;
}